<!doctype html>
<html>
   <head >
      <title>TechBlog</title>
      <meta charset="utf-8">
      <link rel="shortcut icon" href="assets/Blog.ico" type="image/x-icon">

      <!-- Bootstrap Link -->
      <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
      <!-- link for fontAwesome -->
      <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous"/>

      <link data-n-head="ssr" rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
      <link data-n-head="ssr" rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Baloo+Thambi+2:wght@500;600;700&amp;display=swap">
      <link rel="preconnect" href="https://fonts.gstatic.com">
      <link href="https://fonts.googleapis.com/css2?family=Bangers&display=swap" rel="stylesheet">

      <link rel="stylesheet" href="styles/master.css">

      <link rel="stylesheet" href="styles/original.css">
      <link rel="stylesheet" href="styles/aboutus.css">
   </head>
   <body>
    <div id="__nuxt">
        <!---->
        <div id="__layout">
           <div>
              <div class="main">
                 <div class="d-flex flex-column flex-md-row align-items-center p-3 px-md-4 bg-white border-bottom shadow-sm">
                    <a href="#" class="navbar-brandy"><img src="assets/TechBlog.svg" alt="TechBlog" width="120px"></a>
                    <nav class="my-2 my-md-0 mr-md-4 ml-auto">
                      <a href="/TechBlogs" class="p-2 text-dark">Home</a>
                      <a href="/TechBlogs" class="p-2 text-dark showtags">Read</a>
                      <a href="/TechBlogs" class="p-2 text-dark">Write</a>
                      <a href="" class="p-2 text-dark">About us</a>
                    </nav>
                    <form action="/logout?_method=DELETE" method="POST">
                      <button class="btn btn-primary-soft" type="submit">Log Out</button>
                    </form>
                 </div>
                 <div class="page-body-wrapper">

                    <div class="aboutus">
                        
                        <div class="row">

                            <div class="pricing-column col-lg-4 col-md-6">
                              <div class="card" style="width: 18rem;">
                               <img class="card-img-top" src="assets/coding1.jpg" alt="Card image cap">
                               <div class="card-body">
                                 <h5 class="card-title">Card title</h5>
                                 <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                                 <a href="https://www.instagram.com/_snehiljain34/"><img src="assets/instagram.svg" class="links"></a>
                                 <a href="https://www.instagram.com/_snehiljain34/"><img src="assets/linkedin.svg" class="links"></a>
                                 <a href="https://www.instagram.com/_snehiljain34/"><img src="assets/youtube.svg" class="links"></a>
                               </div>
                              </div>
                            </div>

                            <div class="pricing-column col-lg-4 col-md-6">
                              <div class="card" style="width: 18rem;">
                               <img class="card-img-top" src="assets/snehil.jpeg" alt="Card image cap">
                               <div class="card-body">
                                 <h5 class="card-title">Snehil Jain</h5>
                                 <p class="card-text">I love breathing beautiful life into ideas. Writing easy, efficient and documented code is my thing! My obsession over design reflects over the code i write. Checkout @_snehil.codes</p>
                                 <a href="https://www.instagram.com/_snehiljain34/"><img src="assets/instagram.svg" class="links"></a>
                                 <a href="https://www.instagram.com/_snehiljain34/"><img src="assets/linkedin.svg" class="links"></a>
                                 <a href="https://www.instagram.com/_snehiljain34/"><img src="assets/youtube.svg" class="links"></a>
                               </div>
                              </div>
                            </div>
                            
                            <div class="pricing-column col-lg-4">
                              <div class="card" style="width: 18rem;">
                               <img class="card-img-top" src="assets/coding2.jpg" alt="Card image cap">
                               <div class="card-body">
                                 <h5 class="card-title">Card title</h5>
                                 <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                                 <a href="https://www.instagram.com/_snehiljain34/"><img src="assets/instagram.svg" class="links"></a>
                                 <a href="https://www.instagram.com/_snehiljain34/"><img src="assets/linkedin.svg" class="links"></a>
                                 <a href="https://www.instagram.com/_snehiljain34/"><img src="assets/youtube.svg" class="links"></a>
                               </div>
                              </div>
                            </div>

                          </div>
                      </div>

                 </div>
                </div>
            </div>
        </div>
    </div>


</body>
</html>
