<div class="footer" style="text-align: left !important;background: #f7f7f9;">
    <div class="footerhead" style="margin: 2rem auto 1rem;"><a href="#" class="navbar-brand"><img src="/_nuxt/img/3651367.svg" width="200" height="50" alt class="d-inline-block align-top"></a></div>
    <div class="footerrow">
       <div class="footerchild" style="margin-bottom: 2rem;">
          <h3>Join Biotree Today for Free.</h3>
          Create your own mini website for your audience with a click of a
          button. We provide our service for free.
          <!----> <a href="/signup/" class="btn btn-primary-soft" style="margin-top:1rem;">Get started for free
          </a>
       </div>
       <div id="useful-links" class="footerchild">
          <div style="width: 10em">
             <h1 class="newletterh1">Useful links</h1>
             <ul class="skills-list" style="margin: 0; padding: 0;">
                <li><a href="/bio_widget">Biotree Widget</a></li>
                <li><a href="#contact">Contact us</a></li>
                <li><a href="#services">Features</a></li>
                <li><a href="#about">About us</a></li>
                <li><a href="/login">Login</a></li>
             </ul>
          </div>
       </div>
       <div class="footerchild">
          <h1 class="newletterh1">Sign up to our newsletter</h1>
          <p>Subscribe for a monthly recap of the latest Biotree features.</p>
          <form>
             <div class="material-textfield" style="margin-top:1rem;"><input placeholder="Email address" type="email" value=""></div>
             <button type="submit">Subscribe</button>
          </form>
       </div>
    </div>
    <div class="copyright">
       Copyright 2020 Biotree. All rights reserved.
    </div>
 </div>